* {
    background-color: #131c2d;
    color: #fff;
    font-family: "Google Sans", sans-serif;
}

.glitch {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 10px #00f;
    font-size: 2rem;
}

.settings {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#text-input {
  margin: 1rem 0;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

#text-input:focus{
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
